
@{
    ViewBag.Title = "Index";
}

<h2>This is the Main Page</h2>

<h2>Generate Hyperlink</h2>
<table cellspacing="20">
    <tr>

        <td> @Html.ActionLink("MainPAge", "Index")</td>
    </tr>
    <tr>

        <td> @Html.ActionLink("HomePage", "Home")</td>
    </tr>
    <tr>

        <td> @Html.ActionLink("contact", "Contact")</td>
    </tr>
    <tr>

        <td> @Html.ActionLink("About Page", "About")</td>

    </tr>
</table>
